{% extends "base.html" %}
    {%block flash%}
        {% with messages=get_flashed_messages(with_categories=true) %}
         {% for category, message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ category }}</strong><p>{{ message }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
         {% endfor %}

{% endwith %}
    {% endblock %}

    {% block title_bar %}
    <h2 class="sub-header">Add a Map Form</h2>
    {% endblock %}

    {% block form %}

    <div class="container-fluid py-2">
        <p>Add first a new map in the database. This is where you are placing the jars. You can find geo information on google maps or other. The system needs longitude and latitude. This is the data that is the anker point for your map. </p>
        <p>Then you can read, modify and delete your MAP data. <strong>Remember</strong> To see 'Jars' on the map, go to jar forms and add a jar to your MAP. </p>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item" >
            <h2 class="accordion-header" id="findMap">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#findMap" aria-expanded="true" aria-controls="collapsefindMap">
                  Search Map - interactive
              </button>
            </h2>
            <div id="collapsefindMap" class="accordion-collapse" aria-labelledby="headingfindMap" data-bs-parent="#findMap">
              <div class="accordion-body">
                  <h2>Location</h2>
                        <form class="row g-3" method="POST">
                            {{finder.hidden_tag()}}
                            <div class="col">
        <!--                        {{delete.map_name.label(class="form-label")}}-->
                                {{finder.address(class="form-control", placeholder="map_name")}}
                            </div>
                            <div class="col">
                                {{finder.find(class="btn btn-primary mb-3")}}
                            </div>
                        </form>
                        <p>Enter your address ton generate your base map. [e.g.: merelbeke,hoorndriesstraat]</p>

                          {{map | safe}}

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Add Map Data
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form class="row g-3" method="POST">
                  {{addform.hidden_tag()}}

                    <div class="col-sm">
<!--                        {{addform.map_name.label(class="form-label")}}-->
                        {{addform.map_name(class="form-control", placeholder="map_name")}}
                    </div>

                    <div class="col-sm">
<!--                        {{addform.latitude.label(class="form-label")}}-->
                        {{addform.latitude(class="form-control", placeholder="latitude")}}
                    </div>

                    <div class="col-sm">
<!--                        {{addform.longitude.label(class="form-label")}}-->
                        {{addform.longitude(class="form-control", placeholder="longitude")}}
                    </div>

                    <div class="col-sm">
                        {{addform.submit1(class="btn btn-primary mb-3")}}
                    </div>
                </form>
              </div>
            </div>
          </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Show Map Data
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse" aria-labelledby="headingThree">
              <div class="accordion-body">
                <form class="row g-3" method="POST">
                  {{showmap.hidden_tag()}}
                    <div class="col-sm">
<!--                        {{showmap.map_name.label(class="form-label")}}-->
                        {{showmap.map_name(class="form-control", placeholder="map_name")}}
                    </div>
                    <div class="col-sm">
                        {{showmap.submit2(class="btn btn-primary mb-3")}}
                    </div>
                </form>
                <div class="accordion-body">
                  <form class="row g-3" method="POST">
                    {{updateform.hidden_tag()}}
                    <div class="col">
<!--                        {{updateform.map_name.label(class="form-label")}}-->
                        {{updateform.map_name(class="form-control", placeholder="map_name")}}
                    </div>

                    <div class="col">
<!--                        {{updateform.latitude.label(class="form-label")}}-->
                        {{updateform.latitude(class="form-control", placeholder="latitude")}}
                    </div>

                    <div class="col">
<!--                        {{updateform.longitude.label(class="form-label")}}-->
                        {{updateform.longitude(class="form-control", placeholder="longitude")}}
                    </div>

                    <div class="col">
                        {{updateform.submit5(class="btn btn-primary mb-3")}}
                    </div>
                  </form>
              </div>
              </div>
            </div>
          </div>
            <div class="accordion-item" >
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Delete Map Data
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <form class="row g-3" method="POST">
                        {{delete.hidden_tag()}}
                        <div class="col">
    <!--                        {{delete.map_name.label(class="form-label")}}-->
                            {{delete.map_name(class="form-control", placeholder="map_name")}}
                        </div>
                        <div class="col">
                            {{delete.delete_map(class="btn btn-primary mb-3")}}
                        </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>


    {% endblock %}

    {% block list %}
                <div class="container-fluid py-2">

                </div>
    {% endblock %}