{% extends "base.html" %}
    {%block flash%}
        {% with messages=get_flashed_messages(with_categories=true) %}
         {% for category, message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ category }}</strong><p>{{ message }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
         {% endfor %}

{% endwith %}
    {% endblock %}

    {% block title_bar %}
        <div class="mb-3 p-2" >
           <h1 class="display-5 fw-bold">Add a Map form</h1>
        </div>
    {% endblock %}

    {% block form %}

            <div class="jumbotron" >
                <div class="mb-3 p-2">
                <h2>Adding or Editing Map information</h2>
                <p>Add first your site to the database! </p>
                <p>You can get information of Longitude and Latitude on the Google Maps page.</p>
                </div>
            </div>
            <div class="jumbotron" >
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Add Map
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <form class="row g-3" method="POST">
                          {{addform.hidden_tag()}}

                            <div class="col-auto">
                                {{addform.map_name.label(class="form-label")}}
                            </div>
                            <div class="col-auto">
                                {{addform.map_name(class="form-control", placeholder="map_name")}}
                            </div>
                            <div class="col-auto">
                                {{addform.latitude.label(class="form-label")}}
                            </div>
                            <div class="col-auto">
                                {{addform.latitude(class="form-control", placeholder="latitude")}}
                            </div>
                            <div class="col-auto">
                                {{addform.longitude.label(class="form-label")}}
                            </div>
                            <div class="col-auto">
                                {{addform.longitude(class="form-control", placeholder="longitude")}}
                            </div>
                            <div class="col-auto">
                                {{addform.submit(class="btn btn-primary mb-3")}}
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Show Map [on next form after submit]
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <form class="row g-3" method="POST">
                          {{showmap.hidden_tag()}}
                            <div class="col-auto">
                                {{showmap.map_name.label(class="form-label")}}
                            </div>
                            <div class="col-auto">
                                {{showmap.map_name(class="form-control", placeholder="map_name")}}
                            </div>
                            <div class="col-auto">
                                {{showmap.submit(class="btn btn-primary mb-3")}}
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item" >
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Update Single Map Information
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                          <form class="row g-3" method="POST">
                            {{updateform.hidden_tag()}}
                            <div class="col-auto">
                                {{updateform.map_name.label(class="form-label")}}
                            </div>
                            <div class="col-auto">
                                {{updateform.map_name(class="form-control", placeholder="map_name")}}
                            </div>
                            <div class="col-auto">
                                {{updateform.latitude.label(class="form-label")}}
                            </div>
                            <div class="col-auto">
                                {{updateform.latitude(class="form-control", placeholder="latitude")}}
                            </div>
                            <div class="col-auto">
                                {{updateform.longitude.label(class="form-label")}}
                            </div>
                            <div class="col-auto">
                                {{updateform.longitude(class="form-control", placeholder="longitude")}}
                            </div>
                              <div class="col-auto">
                                {{updateform.submit(class="btn btn-primary mb-3")}}
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

    {% endblock %}

    {% block list %}
    {% endblock %}