{% extends "base.html" %}
    {%block flash%}
        {% with messages=get_flashed_messages(with_categories=true) %}
         {% for category, message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ category }}</strong><p>{{ message }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
         {% endfor %}
{% endwith %}

    {% endblock %}

    {% block title_bar %}
        <div class="mb-3 p-2" >
           <h1 class="display-5 fw-bold">Generate A Map for you</h1>
        </div>
    {% endblock %}
    {% block form %}
            <div class="container-fluid py-2">
                <div class="mb-3 p-2">
                <h2>This Generates a map that reads the database data.</h2>
                <p>Remember : Add first your site to the database! </p>
                <p>Select your 'site' name and hit the button 'generate'</p>
                </div>
            </div>
            <div class="container-fluid py-2">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Show Map
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <form class="row g-3" method="POST">
                          {{showmap.hidden_tag()}}
                            <div class="col">
                                {{showmap.map_name(class="form-select", placeholder="map_name")}}
                            </div>
                            <div class="col-auto">
                                {{showmap.submit4(class="btn btn-primary mb-3")}}
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

    {% endblock %}

    {%block body%}

                <div class="container-fluid py-2">
                    <h2>Generated Map</h2>
                    <p>If it is not the result you think. Then check your data input. Is the longitude and latitude correct? </p>
                    <p>You can get information of Longitude and Latitude on the Google Maps page.</p>
                        <div>
                          {{map | safe}}
                        </div>
                </div>

    {% endblock %}