{% extends "base.html" %}
    {%block flash%}
        {% with messages=get_flashed_messages(with_categories=true) %}
         {% for category, message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ category }}</strong><p>{{ message }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
         {% endfor %}

    {% endwith %}
    {% endblock %}

    {% block title_bar %}
    <h2 class="sub-header">Map Table</h2>
    {% endblock %}

    {% block table %}
    <table id="data" class="table table-striped">
        <thead>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Latitude</th>
              <th scope="col">Longitude</th>
              <th scope="col">Jars</th>
              <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for map in maps %}
            <tr>
              <td>{{ map.map_name }}</td>
              <td>{{ map.latitude }}</td>
              <td>{{ map.longitude }}</td>
              <td><span style="white-space: pre-line">{% for jar in map.jar_id %}
                                                            {{ jar.jar_name }}
                                                        {% endfor %}
                    </span>
                </td>
              <td><!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{map.map_name}}Modal" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="{{map.map_name}}Modal" tabindex="-1" aria-labelledby="{{map.map_name}}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{map.map_name}}ModalLabel">Are you sure?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p>Are you sure to delete the item : {{ map.map_name }}</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('map._map_name_delete', map_name=map.map_name) }}" class="btn btn-danger" tabindex="-1" role="button">Yes</a>
                                    <a href="{{ url_for('map.table_maps')}}" class="btn btn-secondary" tabindex="-1" role="button">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{ map.map_name }}ShowMapModal" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Show Map
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="{{ map.map_name }}ShowMapModal" tabindex="-1" aria-labelledby="{{ map.map_name }}ShowMapModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ShowMapModalLabel">Are you sure?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p>Generate this map : {{ map.map_name }} </p>
                                    <form action="{{ url_for('map._generate_new_map')}}">
                                        <input type="hidden" value="{{ map.map_name }}" name="map_name"/>
                                        <button type="submit" class="btn btn-primary" tabindex="-1">Yes</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('map.table_maps')}}" class="btn btn-secondary" tabindex="-1" role="button">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}

    {%block body%}
                <div class="container-fluid py-2">
                    <h2>Generated Map</h2>
                        <div>
                          {{map | safe}}
                        </div>
                </div>
    {% endblock %}