<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b7924198d4e6dcfa30fecae4ea6d0960 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-semicircle@2.0.4/Semicircle.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_b7924198d4e6dcfa30fecae4ea6d0960" ></div>
        
</body>
<script>    
    
            var map_b7924198d4e6dcfa30fecae4ea6d0960 = L.map(
                "map_b7924198d4e6dcfa30fecae4ea6d0960",
                {
                    center: [50.98405, 3.743777],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e0cf56969ad747da8a683b82d07789d3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var marker_3857c234b5b30b2382e97fb24383fd45 = L.marker(
                [50.970416, 3.731723],
                {}
            ).addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var icon_86b772236bddbbbfcbfece5f572dbc29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bee", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3857c234b5b30b2382e97fb24383fd45.setIcon(icon_86b772236bddbbbfcbfece5f572dbc29);
        
    
        var popup_bd6d2476a621fd902a60293ca2e86d0a = L.popup({"maxWidth": "100%"});

        
            var html_30bf12b6d1e817893744652cff9f4360 = $(`<div id="html_30bf12b6d1e817893744652cff9f4360" style="width: 100.0%; height: 100.0%;"><b>JarName:LokPot2  NrSightings:4</b></div>`)[0];
            popup_bd6d2476a621fd902a60293ca2e86d0a.setContent(html_30bf12b6d1e817893744652cff9f4360);
        

        marker_3857c234b5b30b2382e97fb24383fd45.bindPopup(popup_bd6d2476a621fd902a60293ca2e86d0a)
        ;

        
    
    
            marker_3857c234b5b30b2382e97fb24383fd45.bindTooltip(
                `<div>
                     Click For information
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_8666603e2027f7e41e06d5b6b870aef8 = L.circle(
                [50.970416, 3.731723],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 330, "stroke": true, "weight": 3}
            ).addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var semi_circle_488a4c6959707a4dcce09cbcea80cd3f = L.semiCircle(
                [50.970416, 3.731723],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 330, "stroke": true, "weight": 3}
                )
                    .setDirection(10, 2)
                .addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var marker_280af5c434100a7683dd742c0d7f033a = L.marker(
                [50.971764, 3.729686],
                {}
            ).addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var icon_6dca2299914d99f995b5044e43cb8473 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bee", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_280af5c434100a7683dd742c0d7f033a.setIcon(icon_6dca2299914d99f995b5044e43cb8473);
        
    
        var popup_74b0529e909700a4ec831275dd925410 = L.popup({"maxWidth": "100%"});

        
            var html_25310f48f1055f79395aa22f7b0d2106 = $(`<div id="html_25310f48f1055f79395aa22f7b0d2106" style="width: 100.0%; height: 100.0%;"><b>JarName:LokPot3  NrSightings:4</b></div>`)[0];
            popup_74b0529e909700a4ec831275dd925410.setContent(html_25310f48f1055f79395aa22f7b0d2106);
        

        marker_280af5c434100a7683dd742c0d7f033a.bindPopup(popup_74b0529e909700a4ec831275dd925410)
        ;

        
    
    
            marker_280af5c434100a7683dd742c0d7f033a.bindTooltip(
                `<div>
                     Click For information
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_cb2fc807401e0c4405682175d7864a97 = L.circle(
                [50.971764, 3.729686],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200, "stroke": true, "weight": 3}
            ).addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var semi_circle_e97415d01e36e1a6de5720d8bf450b09 = L.semiCircle(
                [50.971764, 3.729686],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 200, "stroke": true, "weight": 3}
                )
                    .setDirection(70, 2)
                .addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var marker_02159ff0354804e316aee0e572dd38dc = L.marker(
                [50.973534, 3.732647],
                {}
            ).addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var icon_74f3276b5cfb32859930b0f0e3176173 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bee", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_02159ff0354804e316aee0e572dd38dc.setIcon(icon_74f3276b5cfb32859930b0f0e3176173);
        
    
        var popup_38cd33346c89dfbb8ea6bb83a8133484 = L.popup({"maxWidth": "100%"});

        
            var html_a318f52dafec9250d298ca423f67c899 = $(`<div id="html_a318f52dafec9250d298ca423f67c899" style="width: 100.0%; height: 100.0%;"><b>JarName:LokPot4  NrSightings:4</b></div>`)[0];
            popup_38cd33346c89dfbb8ea6bb83a8133484.setContent(html_a318f52dafec9250d298ca423f67c899);
        

        marker_02159ff0354804e316aee0e572dd38dc.bindPopup(popup_38cd33346c89dfbb8ea6bb83a8133484)
        ;

        
    
    
            marker_02159ff0354804e316aee0e572dd38dc.bindTooltip(
                `<div>
                     Click For information
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_125bceb5399edfe8cc9acbbbcd4868d7 = L.circle(
                [50.973534, 3.732647],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 100, "stroke": true, "weight": 3}
            ).addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
    
            var semi_circle_4268c4527969435f59366f981f329116 = L.semiCircle(
                [50.973534, 3.732647],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 100, "stroke": true, "weight": 3}
                )
                    .setDirection(170, 2)
                .addTo(map_b7924198d4e6dcfa30fecae4ea6d0960);
        
</script>