<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cfc1ab58256cd492a90adf3cd73f5bb8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-semicircle@2.0.4/Semicircle.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_cfc1ab58256cd492a90adf3cd73f5bb8" ></div>
        
</body>
<script>    
    
            var map_cfc1ab58256cd492a90adf3cd73f5bb8 = L.map(
                "map_cfc1ab58256cd492a90adf3cd73f5bb8",
                {
                    center: [50.969563770740166, 3.7340002048079715],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_273b2575a0905cb40c23ae8beb46bbc2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cfc1ab58256cd492a90adf3cd73f5bb8);
        
    
            var marker_4f43525f5ab593c2ee74284574f34395 = L.marker(
                [50.970046530743296, 3.7328929425149426],
                {}
            ).addTo(map_cfc1ab58256cd492a90adf3cd73f5bb8);
        
    
            var icon_89064caddcc202e8bb16fda3f6a40d2a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bee", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4f43525f5ab593c2ee74284574f34395.setIcon(icon_89064caddcc202e8bb16fda3f6a40d2a);
        
    
        var popup_b79cec8549559721c63de769f1ee29ff = L.popup({"maxWidth": "100%"});

        
            var html_0795aa56a8216f4b78250d685bd098f1 = $(`<div id="html_0795aa56a8216f4b78250d685bd098f1" style="width: 100.0%; height: 100.0%;"><b>JarName:hsnr18  NrSightings:10</b></div>`)[0];
            popup_b79cec8549559721c63de769f1ee29ff.setContent(html_0795aa56a8216f4b78250d685bd098f1);
        

        marker_4f43525f5ab593c2ee74284574f34395.bindPopup(popup_b79cec8549559721c63de769f1ee29ff)
        ;

        
    
    
            marker_4f43525f5ab593c2ee74284574f34395.bindTooltip(
                `<div>
                     Click For information
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_b7c4e5c19d94dd9e28ac3dfcb6a64c9e = L.circle(
                [50.970046530743296, 3.7328929425149426],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 400, "stroke": true, "weight": 3}
            ).addTo(map_cfc1ab58256cd492a90adf3cd73f5bb8);
        
    
            var semi_circle_bf6753018617e79f562a40770dbdbaa5 = L.semiCircle(
                [50.970046530743296, 3.7328929425149426],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 400, "stroke": true, "weight": 3}
                )
                    .setDirection(17, 2)
                .addTo(map_cfc1ab58256cd492a90adf3cd73f5bb8);
        
    
            var marker_f7683f5d62e08edcc9157a2c528608bd = L.marker(
                [50.969138616525775, 3.7339327853914805],
                {}
            ).addTo(map_cfc1ab58256cd492a90adf3cd73f5bb8);
        
    
            var icon_060b70f249fa31e265466e3677f7c4b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "bee", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f7683f5d62e08edcc9157a2c528608bd.setIcon(icon_060b70f249fa31e265466e3677f7c4b4);
        
    
        var popup_b43c8c9f75d5f14c4d1553ca435e2289 = L.popup({"maxWidth": "100%"});

        
            var html_0887e30b8c83048eeebd77643c3984ec = $(`<div id="html_0887e30b8c83048eeebd77643c3984ec" style="width: 100.0%; height: 100.0%;"><b>JarName:tuin_pa  NrSightings:10</b></div>`)[0];
            popup_b43c8c9f75d5f14c4d1553ca435e2289.setContent(html_0887e30b8c83048eeebd77643c3984ec);
        

        marker_f7683f5d62e08edcc9157a2c528608bd.bindPopup(popup_b43c8c9f75d5f14c4d1553ca435e2289)
        ;

        
    
    
            marker_f7683f5d62e08edcc9157a2c528608bd.bindTooltip(
                `<div>
                     Click For information
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_a71ab7b0a1cc88a5e23855a8c2a941b6 = L.circle(
                [50.969138616525775, 3.7339327853914805],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 430, "stroke": true, "weight": 3}
            ).addTo(map_cfc1ab58256cd492a90adf3cd73f5bb8);
        
    
            var semi_circle_1d9f88063137ed9c10c5b2eaf3fa6138 = L.semiCircle(
                [50.969138616525775, 3.7339327853914805],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 430, "stroke": true, "weight": 3}
                )
                    .setDirection(355, 2)
                .addTo(map_cfc1ab58256cd492a90adf3cd73f5bb8);
        
</script>