files:
    /tmp/renew_ssl_cron:
        mode: "000777"
        owner: root
        group: root
        content: |
            0 3,15 * * * certbot renew --no-self-upgrade

container_commands:
    1_create_cert_crontab:
        command: "sudo crontab /tmp/renew_ssl_cron"
    2_delete_cronjob_file:
        command: "sudo  rm /tmp/renew_ssl_cron"
        ignoreErrors: true