{% extends "base.html" %}
{%block flash%}
    {% with messages=get_flashed_messages(with_categories=true) %}
         {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <div>
                  <strong>{{ category | capitalize}}</strong><p>{{ message | capitalize}}</p>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          </div>
         {% endfor %}
    {% endwith %}
{% endblock %}


    {% block title_bar %}
    <h2 class="sub-header">Jars Table</h2>
    {% endblock %}

    {% block table %}
    <table id="data" class="table table-striped">
    <thead>
      <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Observations</th>
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for jar in jars %}
        <tr>
          <td>{{ jar.jar_name }} </td>
          <td>{{ jar.latitude }} </td>
          <td>{{ jar.longitude }} </td>
          <td><span>{% for obs in jar.observation_id %}
                   {{ obs.date }}</br>
                      {% endfor %}
                    </span>
                </td>
          <td><!-- Button trigger modal - delete -->

            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{jar.jar_name}}Modal" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="{{jar.jar_name}}Modal" tabindex="-1" aria-labelledby="{{jar.jar_name}}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="{{jar.jar_name}}ModalLabel">Are you sure?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <p>Are you sure to delete the item : {{ jar.jar_name }}</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('hornet._jar_name_delete', jar_name=jar.jar_name) }}" class="btn btn-danger" tabindex="-1" role="button">Yes</a>
                                    <a href="{{ url_for('hornet.table_jars')}}" class="btn btn-secondary" tabindex="-1" role="button">No</a>
                                </div>
                            </div>
                        </div>
                    </div>
              <!-- Button trigger modal - add to a map -->

            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#{{ jar.jar_name }}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Add On Map
            </button>

            <!-- Modal -->
            <div class="modal fade" id="{{ jar.jar_name }}" tabindex="-1" aria-labelledby="AddToMapLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="AddToMapModalLabel">Add on a Map</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to add {{ jar.jar_name }} Jar to Map</p>
                                <div class="col">
                                    <form action="{{ url_for('hornet._jar_on_map')}}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <input type="hidden" value="{{jar.jar_name}}" name="jar_name"/>
                                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg"  name="map_name">
                                                {% for map in maps %}
                                              <option value='{{map.map_name}}'>{{ map.map_name }}</option>
                                                {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-secondary">Yes</button>
                                    </form>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-secondary" href="{{ url_for('hornet.table_jars') }}">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% endblock %}