{% extends "base.html" %}
    {%block flash%}
        {% with messages=get_flashed_messages(with_categories=true) %}
         {% for category, message in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ category }}</strong><p>{{ message }}</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
         {% endfor %}

    {% endwith %}
    {% endblock %}

    {% block title_bar %}
    <h2 class="sub-header">Jars Table</h2>
    {% endblock %}

    {% block table %}
    <table id="data" class="table table-striped">
    <thead>
      <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>NrOfSightings</th>
          <th>Distance</th>
          <th>Heading</th>
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for jar in jars %}
        <tr>
          <td>{{ jar.jar_name }} </td>
          <td>{{ jar.latitude }} </td>
          <td>{{ jar.longitude }} </td>
          <td>{{ jar.nr_of_sightings }} </td>
          <td>{{ jar.average_distance }} </td>
          <td>{{ jar.heading }} </td>
          <td><!-- Button trigger modal - delete -->

            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete data</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" method="POST">
                                {{delete.hidden_tag()}}
                                <div class="col">
                <!--                    {{delete.jar_name.label(class="form-label")}}-->
                                    {{delete.jar_name(class="form-select", placeholder="jar_name")}}
                                </div>
                                <div class="col-auto">
                                    {{delete.submit5(class="btn btn-warning mb-3")}}
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
<!--                            <a type="button" class="btn btn-warning" href="{{ url_for('hornet._jar_name_delete', jar_name=jar.jar_name) }}">Yes</a>-->
                            <a type="button" class="btn btn-secondary" href="{{ url_for('hornet.table_jars') }}">No</a>
                        </div>
                    </div>
                </div>
            </div>
              <!-- Button trigger modal - add to a map -->

            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#AddToMapModal" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Add On Map
            </button>

            <!-- Modal -->
            <div class="modal fade" id="AddToMapModal" tabindex="-1" aria-labelledby="AddToMapLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="AddToMapModalLabel">Add on a Map</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you want to add {{ jar.jar_name }} Jar to Map :
                            <form class="row g-3" method="POST">
                                {{binder.hidden_tag()}}
                                <div class="col">
<!--                                    {{binder.jar_name.label(class="form-label")}}-->
                                    {{binder.jar_name(class="form-select", placeholder="jar_name")}}
                                </div>

                                <div class="col">
<!--                                    {{binder.map_name.label(class="form-label")}}-->
                                    {{binder.map_name(class="form-select", placeholder="map_name")}}
                                </div>

                                <div class="col-auto">
                                    {{binder.submit4(class="btn btn-primary mb-3")}}
                                </div>
                              </form>
                        </div>
                        <div class="modal-footer">
<!--                            <a type="button" class="btn btn-warning" href="{{ url_for('hornet._jar_name_delete', jar_name=jar.jar_name) }}">Yes</a>-->
                            <a type="button" class="btn btn-secondary" href="{{ url_for('hornet.table_jars') }}">No</a>
                        </div>
                    </div>
                </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% endblock %}