/* main features */
html,
body{
    min-height: 100%;
    height: 100%;
    background-color: #f1ebf5;
}

/* navbar specials */

.nav-item a:hover {
    background-color: rgba(30, 41, 44, 0.8);
    transition: all 0.3s ease 0s;
    margin: 0 auto;
}

/* pictures carousel */
.carousel {
  width:500px;
  height:700px;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    }

